/* CSS take of the project https://github.com/BlackrockDigital/startbootstrap-scrolling-nav
under MIT License. */

header {
  padding: 300px;
  background: url("http://placehold.it/1280x853?text=Logo") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:100%;
}

.thin-text {
  font-weight: 200;
  background: rgba(96, 125, 139, .4);
  padding: 2px;
  border-radius: 2px;
}

section {
  padding: 100px 0;
  text-align: justify;
}

.navbar, h2, h1 {
  font-family: 'Ubuntu', sans-serif;
  /*text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 0.06em 0.06em #333
}

.link {
  text-decoration: underline;
}

h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  /*text-transform: uppercase;*/
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.background-primary {
  background-color: gray;
  color: white;
}

.background-secondary {
  background-color: white;
  color: black;
}

ul.list-inline li {
  display: inline;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 18px;
  margin-bottom: 20px;
  float: left;
}

.progress-bar {
  background-color: black;
}

#Logo {
  font-family: 'Contrail One', cursive;
}

#nav_ic {
  height: 63.5px;
}

#prof_btn {
  width: 246px;
}

/* Caroulsel Style */

.carousel-wrapper {
  overflow: hidden;
  width: 90%;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

a:link
{
text-decoration:none;
}
